<template name="layout">
    {{> nav }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-2 section-left">
                {{> Template.dynamic template=subnav }}
            </div>
            <div class="col-xs-12 col-md-7">
                {{> Template.dynamic template=main }}
            </div>
            <div class="col-xs-12 col-md-3 section-right">
                {{> Template.dynamic template=section }}
            </div>
        </div>
    </div>
</template>

<template name="layout2">
    {{> nav }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                {{> Template.dynamic template=main2 }}
            </div>
            <div class="col-xs-12 col-md-3 section-right">
                {{> Template.dynamic template=section2 }}
            </div>
        </div>
    </div>
</template>